// Typography
$font-family-main: 'Questrial', Helvetica, Arial, sans-serif;
$font-family-headings: 'Montserrat', Georgia, serif, cursive;
$font-size: 1.25em;

// Padding
$padding-large: 20%;
$padding-small: 5%;
$padding-x-small: 3%;

// Brand colours
$brand-color: #000;
$background-color: #000;
$border-color: rgba(0, 0, 0, 0.1); // rgba recommended if using feature images

// Typography colours
$text-color: #e1e1e1;
$link-color: #0070BB;
$selection-color: #D4D4D4; //highlight

// Header colours
$header-link-color: #0070bb;

// Feature image for articles
$feature-image-text-color: #fff;
$feature-image-size: cover; // options include "cover", "contain", "auto"

// Header description box
$header-desc-background-color: #0070BB;
$header-desc-text-color: #FFF;
